
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas: 
        "header header"
        "nav nav"
        "aside main" 
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 3fr auto;
    height: 100vh;
}
/* header, nav , aside, main, footer {
    display: none;
} */
     /* إخفاء جميع العناصر */


header {
    grid-area: header;
    background-color: #022e3f;
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 32px;
}


nav {
    grid-area: nav;
    background-color: #062b31;
    padding: 1em;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #ccd8db;
    padding: 5px 12px;
    letter-spacing: 2px;
    font-size: 18px;
}

.nav-links a:hover {
    background-color: #555;
    border-bottom: 4px solid #000;
    transition: 0.4s;
    color: #f1f1f1;
    box-shadow: 0 5px 15px rgba(200, 136, 73, 0.5);
}

.menu-button {
    display: none;
    background-color: #81431d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

aside {
    grid-area: aside;
    background-color: #b3e9dd;
    padding: 1em;
}
.sidebar button {
    display: block;
}

main {
    grid-area: main;
   background-image: url("./imgs/44.jpg");
   background-position: center ;
   background-size: cover;
    padding: 1em;
    height: 100vh;
}

.Coffee{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    justify-content: center;
    grid-gap: 15px;
    max-width: 1000px;
    width: 70%;
    height: auto;
    margin: 20px auto;
    
}

.items {
    background-color: #e7e7e7;
    padding: 1em;
    width: 250px;    /* العناصر تأخذ نفس المساحة */
    margin: 0 0.5em; /* مسافة بين العناصر */
    display: inline;
    text-align: center;
    height: 300px;
    border-radius: 17px;
}

button {
    background-color: #99583b;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #593b10;
}




@media (max-width: 600px) {
    body {
        grid-template-areas: 
            "header"
            "nav"
            "aside"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr  auto auto;
    }
    

    .Coffee {
        flex-direction: column; /* تغيير اتجاه العناصر في الشاشات الصغيرة */
    }

    .items {
        margin: 0.5em 0; /* مسافة عمودية بين العناصر */
    }
    .nav-links {
        display: none; /* إخفاء الروابط في الشاشات الصغيرة */
        flex-direction: column;
        position: absolute;
        background-color: #b19d74;
        width: 100%;
        top: 50px; 
        left: 0;
        z-index: 1;
    }

    .menu-button {
        display: block; /* إظهار الزر في الشاشات الصغيرة */
    }

    .nav-links.show {
        display: flex; /* إظهار الروابط عند الضغط على الزر */
    }
  
}
footer {
    grid-area: footer;
    background-color: #053058;
    color: white;
    padding: 1em;
    text-align: center;
}


.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(124, 63, 22);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 9999; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}